@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.card_profile {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.upper {
    height: 100px;
}

.upper img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
}

.profile img {
    height: 80px;
    width: 80px;
}

.profile {
    position: absolute;
    top: -60px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.stats span {
    font-size: 29px;
}
