*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div{
    background-color: rgb(245, 247, 235) !important;
}
.box_style{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.input_style{
    border: none;
    outline: none;
    border-bottom: .1rem solid rgb(234, 235, 232) !important;
}

.big{
    line-height: 0.9;
}
.btn_Add{
    font-size: xx-large;
    border: none;
    outline: none;
    padding: 20px 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(2, 233, 125);
}